.conteiner {
    width: 100%;
    max-width: 1430px;
}
.header-inner {
    width: 100%;  
}
.header-top {
    display: flex;
}
.header-logo {
    width: 170px;
}
.header-lang{
    display: flex;
    flex-direction: column;
    text-align: center;  
    border-left: 1px solid black;
    height: 100%;
}
.lang {
    font-size: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: rgb(9, 143, 16); ;
}
.header-cash{
    display: flex;
    flex-direction: column;
    text-align: center; 
    border-left: 1px solid black;
    height: 100%
}
.money{
    font-size: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: chartreuse;
    margin-right: 130px;
}
.header-social{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 26%;
}
