.conteiner {
    width: 100%;
    max-width: 1450px;
}

.header-inner {
    width: 100%;  
}
.header-top {
    display: flex;
    width: 100%;
}
.header-logo {
    display: flex;
    width: 234px;
    height:50px
}
.header-lang, .header-cash{
    display: flex;
    flex-direction: column;
    text-align: center;  
    border-left: 2px solid black;
    height: 2%;
    height: 20px
}
.lang {
    font-size: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 21px;
    text-align: center;
    color: black;

}
.money{
    font-size: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: rgb(135, 211, 60);
    margin-right: 10px;
}
.header-social{
    display: flex;
    flex-direction:row;
    text-align: center;
    width: 12%;
}
.netvork{
    display: flex;
    flex-direction:column;
    text-align: center;
    width: 45%;
}
.net{
    width: 25%;
}
.golovas{
    display: flex;
    flex-direction: row;
    margin: 45px;
    padding: 1px;
}
.intter{
    position: absolute;
    left: 5px;
    top: 260px;
    font-style: normal;
    border: #ffff 1px solid;
    color: #ffff;
}
.hjn {
    position: absolute;
    left: 390px;
    top: 480px;
    font-style: normal;
    border: #ffff 1px solid;
    color: #ffff;
}
.hjn > h2{
    position: absolute;
    left: 250px;
    top: 100px;
    font-style: normal;
    color: #ffff;
}
.intrro{
    position: absolute;
    left: 220px;
    top: 100px;
    font-style: normal;
    border: #ffff 1px solid;
    color: #ffff;
}
.intrro > img{
    position: absolute;
    left: -212px;
    top: 650px;
    font-style: normal;
    border: #ffff 0,5px solid;
    color: #ffff;
}
.intrro >h4 {
    position: absolute;
    left: -211px;
    top: 635px;
    font-style: normal;
    border: rgb(0, 0, 0) 0,5px solid;
    color: rgb(0, 0, 0);
}
.intrro > img{
    position: absolute;
    left: -210px;
    top: 650px;
    font-style: normal;
    border: rgb(0, 0, 0) 0,5px solid;
    color: rgb(0, 0, 0);
}
.lushie_oteli, .lushie_oteli> h4{
    position: absolute;
    left: 50px;
    top: 980px;
    font-style: normal;
    border: rgb(0, 0, 0) 0,5px solid;
    color: rgb(0, 0, 0);
}
.aktyalnie_tyru{
    position: absolute;
    left: 50px;
    top: 1488px;
    font-style: normal;
    border: rgb(0, 0, 0) 0,5px solid;
    color: rgb(0, 0, 0);
}
.aktyalnie_tyru> h6{
    position: absolute;
    left: 50px;
    top: 485px;
    font-style: normal;
    border: rgb(0, 0, 0) 0,5px solid;
    color: rgb(0, 0, 0);
}
.hto_takoe_pytehestvie {
    position: absolute;
    left: 200px;
    top: 585px;
    font-style: normal;
    border: rgb(0, 0, 0) 0,5px solid;
    color: rgb(0, 0, 0);
}
.nif {
    position: absolute;
    left: 390px;
    top: 700px;
    font-style: normal;
    border: #ffff 1px solid;
    color: #ffff;
}