body{
width: 100%;
display: flex;
justify-content: center;
}
.services{
    width: 1125px;
}

.conteiner{
    width: 100%;
}

.header{
    width: 100%;
    background: url(../fone.png\10.png);
}
.header-inner {
    width: 1140px;
    background: url(../img/fone.png\1600px);
}
.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: white;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    width: 601px;
    height: 90px;
    font-size: 48px;
    line-height: 24px;
    text-align: 400;
    margin-top: 323px;
    margin-left: 533px;
    margin-right: 488px;
    margin-bottom: 360px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-item{
    font-size: 15px;
    color: white;
}
.caption{
    width: 100%;
}